.grid-container {
    display: grid;
    grid-template-areas:
    'd d d a'
    'b b b a'
    'e c 2 a';
    grid-template-columns: 100px 100px 100px auto;
    gap: 10px;
    grid-auto-rows: 0;
    grid-template-rows: min-content min-content min-content;
    /*background-color: #2196F3;*/
    /*padding: 10px;*/
}

