.grid-container {
    display: grid;
    grid-template-areas:
    /*'menu_0 menu_0 menu_0 main_1 main_1'*/
    /*'menu_1 menu_2a menu_2b main_2 main_2';*/

    'menu_0 menu_0 menu_0 main_1 main_1'
    'menu_1 menu_2a menu_2b main_2 main_2';
    gap: 10px;
    /*background-color: #2196F3;*/
    padding: 10px;
}
